html, body, h1, h3, button {
    margin: 0;
    padding:0;
    border:0;
    font-family: helvetica;
    font-weight: lighter;
}
body {
    background-color: #f7e9bd;

}
#header {
    padding: 0px 30px;
    display: flex;
    justify-content: space-between;
    background-color: #e6ba2b;
    color: #faf6e6;
    align-items: flex-end;
    
}
#nav p{
    display: inline-block;
    padding: 5px 0 0 7px;
}
#header h3 {
    padding-bottom: 15px;
}
#content {
    display: flex;
    margin: 30px;
}
.one, .two, .three, .four {
    border: 2px solid #e6ba2b;
    padding: 20px 20px 20px 20px;
    background-color:#faf6e6;
    margin: 10px 10px;
    width: 280px;
}
button {
    background-color: #e6ba2b;
    border: none;
    padding: 5px 5px;
    width: 95%;
    color: #faf6e6;
    border-radius: 4px;
}
.box p {
    padding: 5px 10px;
}